body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 50px;
  background-color: #4d72be;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.btn-page {
  background-color: #4d72be;
  border: none;
  padding: 5px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  width: 90vw;
  height: 80vh;
  border: 1px solid #aab6cd;
  flex-direction: column;
  justify-content: flex-start;
}

.person {
  margin-right: 74.8rem;
  border: 2px solid #aab6cd;
  padding: 1rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

table {
  border-collapse: collapse;
  background-color: #ebeff6;
}

.thead {
  background-color: #699ad0;
  color: white;
  border: 1px solid black;
  width: 15vw;
  padding: 5px;
}

input {
  width: 10vw;
}

td {
  border: 1px solid black;
  padding: 5px;
}

.action {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: #4d72be;
  cursor: pointer;
  margin-right: 20px;
}

.retrieve {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  height: 80vh;
  border: 1px solid #adb9cf;
}

.search {
  width: 270px;
  height: 37px;
  border: 1px solid #adb9cf;
}

.btn-find {
  background-color: #4d72be;
  color: white;
  border: none;
  width: 58px;
  height: 37px;
  margin-left: 20px;
  cursor: pointer;
}

.input-num::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.add {
  width: 10vw;
  background-color: #4d72be;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-top: 40vh;
  border: 2px solid red;
  margin-left: 70vw;
}

.retrieve-info{
  border: 2px solid #aab6cd;
  padding: .5rem;
  font-weight: bold;
}

.h4{
  font-size: larger;
  font-weight: normal;
}

.search::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.single-data {
  margin-top: 30px;
  margin-left: 30px;
}

.no-data {
  margin-top: 18vh;
  margin-left: 35vw;
}

.find-detail {
  border: 1px solid #adb9cf;
  padding: 1rem;
  font-weight:normal;
  margin-top: 20px;
  text-align: start;
}

span{
  font-weight: 450;
}

@media screen and (max-width: 900px) {
  input {
    width: 15vw;
  }
}
